{% extends "layout.html" %}
{% block content %}
<div><h6>Number of Queries:</h6><p id="numqueries">{{ numqueries }}</p></div>
    {% for post in posts %}
        <article class="media content-section">

          <div class="media-body">

            <div class="article-metadata">
                <h7>Query#:</h7><a href="history/query{{post.id}}"><p queryid="queryid">{{ post.id }}</p></a>
            </div>

            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}


